.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  /* background:linear-gradient(to bottom, #b6f0ff 0%, #ecf2c8 100%); */
  height: 100vh;
  /* background-image:url(./images/wp4782956.jpg) ; */
  background-repeat: no-repeat;
  background-size: 100% 100% ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headOfPage{
  display: flex;
  
  
  color: #000000 (black);
  justify-content: center;
  margin: auto;
  height: 80px;
  font-size: 25px;
  align-items: center;
  
 
}

.headOfPage div{
margin-left: 50px;
}

.formtable{
  width: 500px;
  padding: 20px;
  margin: auto;
  border:2px solid rgba(0, 0, 0, 0.408);
  background-color:transparent;
  margin-top: 25px;
  border-radius: 10px;
}

.nameinput{
  outline: none;
  border-bottom: 2px solid rgb(124, 163, 215);
}

.downbtn{
  width:700px;
  margin: auto;
 justify-content: end;
  
}
.welcome{
   font-size: 35px;
}
.tablebody{
  margin: auto;
  margin-top: 10px;
  width: 700px;
}


@media (max-width: 540px) {
  .formtable{
    width: 300px;
    padding: 20px;
    margin: auto;
    border:2px solid rgba(0, 0, 0, 0.408);
    background-color:transparent;
    margin-top: 25px;
    border-radius: 10px;
  }


  .headOfPage{
    display: flex;
    
    
    color: #000000 (black);
    justify-content: center;
    margin: auto;
    height: 80px;
    font-size: 15px;
    align-items: center;
    
   
  }
  .welcome{
    font-size: 20px;
 }
 .downbtn{
  width:600px;
  margin: auto;
 justify-content: end;
  
}
.tablebody{
  margin: auto;
  margin-top: 10px;
  width: 350px;
}
 
} 
  

